@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
  }
}

.pattern-dots {
  background-image: radial-gradient(#00ffaa69 1.5px, transparent 1px);
  background-size: calc(10 * 2px) calc(10 * 2px)
}

.span-badge {
  @apply font-semibold text-emerald-400
}

.button-ligth-dark {
  @apply flex items-center justify-center flex-1 gap-2 px-4 py-2 mt-3 font-semibold duration-300 ease-in-out shadow-md md:flex-none hover:bg-zinc-800/30 bg-zinc-200 hover:text-white text-black
}

.button-ligth {
  @apply flex items-center justify-center flex-1 gap-2 px-4 py-2 mt-3 font-semibold duration-300 ease-in-out shadow-md md:flex-none bg-zinc-200 text-black
}

.button-dark {
  @apply flex items-center justify-center flex-1 gap-2 px-4 py-1 mt-3 font-semibold duration-300 ease-in-out shadow md:flex-none bg-zinc-950/50 hover:bg-zinc-200 hover:text-black
}

.spotligth {
  @apply before:absolute before:w-80 before:h-80 before:-left-40 before:-top-40 before:bg-emerald-600 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:group-hover:opacity-100 before:z-10 before:blur-[100px] after:absolute after:w-80 after:h-80 after:-left-48 after:-top-48 after:bg-emerald-400 after:rounded-full after:opacity-0 after:pointer-events-none after:transition-opacity after:duration-500 after:translate-x-[var(--mouse-x)] after:translate-y-[var(--mouse-y)] after:hover:opacity-10 after:-z-0 after:blur-[100px] overflow-hidden
}