@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'JetBrains Mono', 'Roboto', monospace;
  scroll-behavior: smooth;
}

.not-active {
  pointer-events: none;
  cursor: default;
}

.gradient {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(334deg, #0f172a, #0f172a, #40ae5f);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.active {
  color: #22c55e;
  font-weight: 900;
}

.gradient-dos {
  background: radial-gradient(circle, rgba(9,121,95,0.5) 1%, rgb(15, 23, 42) 45%);
}

.gradient-tres {
  background-image: radial-gradient(at 11% 32%, rgb(34, 197, 94, 0.253) 0, transparent 35%), radial-gradient(at 100% 83%, rgb(22, 163, 74, 0.253) 0, transparent 35%), radial-gradient(at 0% 100%, rgb(22, 101, 52, 0.253) 0, transparent 25%), radial-gradient(at 100% 25%, rgb(22, 163, 74, 0.253) 0, transparent 25%); 
}