@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'JetBrains Mono', 'Roboto', monospace;
  scroll-behavior: smooth;
}

.not-active {
  pointer-events: none;
  cursor: default;
}

.gradient {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(334deg, #0f172a, #334155, #0f172a);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
